PORT=4000
SUPABASE_URL=https://copzdszelljcxkdhalio.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvcHpkc3plbGxqY3hrZGhhbGlvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5OTg0NjgsImV4cCI6MjA5NjU3NDQ2OH0.C_tGzKaG6udyuKgJ7SpQPBJMVIpfWX5bJZSy1cgWT1E
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
FRONTEND_URL=http://localhost:4000
